<?xml version="1.0"?>
<launch>
  <arg name="visual" default="false" />
  <arg name="model" default="$(find rcv_description)/urdf/rcv.urdf"/>
  <!--
  <arg name="rvizconfig" default="$(find car_demo)/rviz/demo.rviz" />
  -->

  <param name="robot_description" textfile="$(arg model)"/>

<!--#################  launch empty world  ####################-->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="verbose" value="true"/>
    <arg name="world_name" value="$(find car_demo)/worlds/mcity.world"/>
  </include>

<!--#################  robot_state_publisher pkg  ##################-->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" >
    <!-- <remap from="robot_description" to="different_robot_description" /> -->
    <!-- <remap from="joint_states" to="/prius/joint_states" /> -->
  </node>

<!--#################  fake localization pkg  ####################-->
  <node pkg="fake_localization" type="fake_localization" name="fake_localization">
    <!-- <remap from="base_pose_ground_truth" to="/prius/base_pose_ground_truth"/> -->
  </node>

<!--#################  static tf publisher  ####################-->
  <node pkg="tf2_ros" type="static_transform_publisher" name="very_inaccurate_odom" args="0 0 0 0 0 0 odom base_link"/>
  

  <!--
  <node pkg="car_demo" type="joystick_translator" name="joystick_translator"/>
  -->

<!--#################  path pose plot pkg  ####################-->
  <group if="$(arg visual)">
    <node pkg="car_demo" type="liveplot.py" name="plotter" output="screen"/>
  </group>

  <!-- Run two joy nodes publishing to the same topic, just to cover two possible joystick locations -->
  <!--
  <node pkg="joy" type="joy_node" name="joy_node0">
    <param name="dev" value="/dev/input/js0"/>
  </node>
  <node pkg="joy" type="joy_node" name="joy_node1">
    <param name="dev" value="/dev/input/js1"/>
  </node>
  -->

<!--#################  launch gazebo  ####################-->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -x 3.0 -y -12.0 -z 0.5 -model rcv"/>


<!-- close camera view
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -x 26.2 -y -165.0 -z 0.5 -Y 1.57 -model rcv"/>
  -->

<!--
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
  -->
</launch>
